@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
li {
  list-style: none;
}
img {
  display: block;
}
input,
select,
textarea {
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
  color: inherit;
}
input,
select,
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -appearance: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
::-webkit-input-placeholder { /* WebKit browsers */ 
color: #a4a4a4; 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #a4a4a4; 
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #a4a4a4; 
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #a4a4a4; 
}
body {
  font-family: STHeiti, 'Microsoft YaHei', Helvetica, Arial, sans-serif;
  font-size: .24rem;
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
}
.fl {
  float: left;
  display: inline;
}
.fr {
  float: right;
  display: inline;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
